@import "tailwindcss";

@theme {
  --color-background: #131313;
  --color-primary: #ffffff;
  --color-secondary: #a1a1a6;
  --color-accent: #0a84ff;
  --color-neutral: #000000;
  --color-surface-tint: #c6c6c7;

  --font-inter: "Inter", sans-serif;

  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
}

@layer base {
  body {
    @apply bg-background text-primary font-inter antialiased;
    margin: 0;
    padding: 0;
  }
}